* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 2px black solid; */
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.recipe-image {
    width: 300px;
    border: 3px solid #cb6843;
}

.credit {
    font-style: italic;
    font-size: 0.75em;
    color: #cb6843;
    margin-top: 0;
}

.credit a {
    color: #cb6843;
    text-decoration: none;
}

.credit a:hover {
    text-decoration: underline;
}

h2 {
    background-color: #cb6843;
    padding: 5px;
}

.highlight {
    display: inline-block;
    margin: 0;
}

.overview {
    /* TODO: side by side: IMG (with credit under) and DEscription beside it. */
}

.how-to {
    /* TODO: side by side: ingredients on left, instructions on right on larger screens, but vertical on smaller screens */
}

.button-container {
    margin: 25px 0;
}

.button {
    background-color: #87ff65;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 10px;
    border: 2px solid black;
}

.button:hover {
    box-shadow: 3px 3px 3px black;
}

a:visited {
    color: black;
}

.fixLater {
    /* TODO: there has to be a better way to add space at the bottom? But for now this is what I've got. */
    height: 50px;
}

/* colors I like: terracotta #cb6843  grape #8332ac  rose red #ca1551  screaming green #87ff65 */